@use 'variables/colors' as *;

.container {
    position: relative;
    color: $text-gray;
    max-height: 1vw;
    width: 300px;
    min-width: 280px;
}

.main{
    position: relative;
    background-color: $background;
    padding: 20px 22px 20px 22px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    border: 0px solid;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 12px;
    transform: translateY(-50%);
    min-width: 4.4vh;
    height: 4.4vh;
    background: $lemon-color;
    border-radius: 50%;
    z-index: 2;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    white-space: nowrap;
}

.headingFocused {
    width: auto;
    padding: 0 1vh;
    border-radius: 20px; 
}

.headingTitle{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: #151515;
}

.design{
    background-color: $purple-design;
}
.frontend{
    background-color: $green-frontend;
}
.backend{
    background-color: $blue-backend;
}
.txtLemon{
    color: $lemon-color;
}

.header{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.description{
    font-size: 0.8rem;
    font-weight: 400;
    max-width: 110vw;
    max-height: 25vh;
}