@use '_screens' as *;

$content-container-bg: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');

@mixin systemlayout {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.layout {
    @include systemlayout;
    background-color: #282828;
    height: 100vh;
    margin: 0px;
}

.left_sidebar {
    @include systemlayout;
    height: 92vh;
    background-color: #282828;
    flex-grow: 1;
    flex-direction: column;
}

@mixin sidebar_button {
    background-color: #282828;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        filter: brightness(1.2);
    };
}

.hamburhermenu_button {
    @include systemlayout;
    @include sidebar_button;
    align-self: flex-start;
}

.hamburhermenu_icon {
    width: 1.5rem;
    height: 1.5rem;
}

.buttongroup_left_sidebar {
    @include systemlayout;
    align-self: flex-end;
    flex-direction: column;
}

.contact_us_button_left_sidebar {
    @include systemlayout;
    @include sidebar_button;
}

.right_sidebar {
    @include systemlayout;
    height: 92vh;
    background-color: #282828;
    flex-grow: 1;
    align-items: stretch;
}

.logo {
    margin-top: 0.5vw;
    width: 38vw;
    height: auto;

    @media (max-width: $small-screen) {
        height: 96vh;
        width: 94vw; 
    }
}

.content_container {
    @include systemlayout;
    height: 92vh;
    width: 92.24vw;
    animation: noise 270s infinite alternate;
    background: $content-container-bg;
    filter: brightness(0.7);
    background-color: rgb(19, 18, 18);
    border-radius: 0.78em;
    animation: noise 10s infinite; 

    @media (max-width: $small-screen) {
        height: 96vh;
        width: 94vw; 
    }
}

@keyframes noise {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 30px 30px;
    }
    50% {
        background-position: -20px -20px;
    }
    75% {
        background-position: -30px -30px;
    }
    100% {
        background-position: 20px 20px;
    }
}