@use 'colors' as *;

.container {
    position: relative;
    color: $text-gray;
}

.main{
    position: relative;
    background-color: $background-2;
    padding: 20px 22px 20px 22px;
    border-radius: 12px;
    border: 0px solid;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 12px;
    transform: translateY(-50%);
    min-width: 44px;
    height: 40px;
    background: $lemon-color;
    border-radius: 50%;
    z-index: 2;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    white-space: nowrap;
}

.headingFocused {
    width: auto;
    padding: 0 16px;
    border-radius: 20px; 
}

.headingTitle{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #151515;
}

.design{
    background-color: $purple-design;
}
.frontend{
    background-color: $green-frontend;
}
.backend{
    background-color: $blue-backend;
}
.txtLemon{
    color: $lemon-color;
}

.header{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.description{
    font-size: 18px;
    font-weight: 400;
    max-width: 400px;
}